@model Register

<!DOCTYPE html>

<html>
<head>
    <a href='@Url.Action("Index", "Home")' style="color:black; text-decoration:none;"><h1>Horizon</h1></a>
    <h2>We Are Built Different</h2>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        @Model.Id
        <br />

        @Model.Name
        <br />

        @Model.Address
        <br />

        @Model.City
        <br />

        @Model.Region
        <br />

        @Model.Zip
        <br />

        @Model.Country
        <br />

        @Model.Phone
        <br />

        @Model.Email
        <br />

        @Model.Password
        <br />


        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
    </div>
</body>
</html>